choice MARG_PINNED_TO_CORE_CHOICE
  prompt "The cpu core which MARG run"
  depends on !FREERTOS_UNICORE
  help
    Specify the cpu core to run MARG.
  config MARG_PINNED_TO_CORE_0
    bool "Core 0 (PRO CPU)"
  config MARG_PINNED_TO_CORE_1
    bool "Core 1 (APP CPU)"
  config MARG_NO_CORE_AFFINITY
    bool "No Affinity (PRO or APP CPU)"
  depends on !FREERTOS_UNICORE
endchoice #MARG_PINNED_TO_CORE_CHOICE

config MARG_TASK_PRIORITY
  int "MARG Task Priority"
  default 5
  
config MARG_STRICT_FIX16
  bool "Use Fixed Point, Q16, calculation"

choice MARG_SENSOR_CHOICE
  prompt "9-axis sensor to use"
  help
    Specify the sensor
  config MARG_SENSOR_MPU9250
    bool "MPU9250"
  config MARG_SENSOR_CUSTOM
    bool "User implemented sensor"

endchoice #MARG_SENSOR_CHOICE